# Build ESP-IDF
build/
sdkconfig
sdkconfig.old
app-colcon.meta
dependencies.lock
managed_components/

# Composant micro-ROS (cloné, voir README)
components/micro_ros_espidf_component/

# IDE
.vscode/
.idea/

__pycache__/
*.pyc
